<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <div class="jumbotron w-75 mx-auto my-5 text-center">
            <h1 class="display-1 text-danger text-center"><%= `Error ${code}` %></h1>
            <hr class="my-4">
            <p class="lead"><%= description %></p>
            <br>
            <% if (code == 401) { %>
                <a class="btn btn-lg btn-dark" href="/login" role="button">Log in or Sign Up</a>
            <% } %>
        </div>
        <%- include("footer.ejs") %>
    </body>
</html>