<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body class="d-flex flex-column h-100">
        <%- include("navbar.ejs") %>
        <main class="mt-4 mb-5">
            <div id="profileContainer" class="row mx-auto w-80 justify-content-center" style="max-width: 1500px">
                <div id="profileAlerts" class="col-md-10 col-12">
                    <div id="errorBox" class="alert alert-danger w-100" role="alert" style="display:none">Error</div>
                    <div id="successBox" class="alert alert-success w-100" role="alert" style="display:none">Error</div>
                </div>
                <div class="col-md-10 col-12">
                    <nav class="navbar navbar-light bg-light border px-2 py-2 my-2 rounded-3 d-flex">
                        <div>
                            <h4 class="navbar-brand text-wrap my-0 px-2 flex-grow-1" id="cardNavLabel"><%= `${String(profile._id) == String(user._id) ? "My" : `${profile.name.first} ${profile.name.last}'s`} Profile`%></h4>
                            <p class="font-weight-light mb-0 px-2"><small>id: <%= String(profile._id) %></small></p>
                        </div>
                    </nav>
                    <div class="card">
                        <form id="profile" class="card-body row mb-0">
                            <h6 class="mb-1">Personal Details</h6>
                            <div class="form-group col-md-6 col-12">
                                <label for="firstName">First Name</label>
                                <input id="firstName" name="firstName" class="form-control" type="text" placeholder="First Name" value="<%= profile.name.first %>">
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Last Name" value="<%= profile.name.last %>">
                            </div>
                            <div class="form-group col-md-9 col-12">
                                <label for="email">Email</label>
                                <input id="email" class="form-control" type="email" placeholder="Email" disabled value="<%= profile.email %>">
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label for="phone">Phone</label>
                                <input id="phone" name="phone" class="form-control" type="tel" value="<%= profile.phone %>">
                            </div>
                            <div class="form-group mt-4">
                                <input id="submitProfile" type="button" class="btn btn-primary" value="Submit Changes">
                                <input type="reset" class="btn btn-secondary" value="Reset">
                            </div>
                        </form>
                        
                        <% if (profile.roles.includes("tutee")) { %> <!-- TUTEE ONLY STUFF -->
                        <div id="deleteParent" class="card-body row mb-0">
                            <h6 class="mb-1">Parents</h6>
                            <% for (let parent of parents) { %>
                            <div class="row gx-1 px-3">
                                <div class="form-group col-md-3 col-6">
                                    <input class="form-control" type="text" placeholder="First Name" disabled value="<%= parent.name.first %>">
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <input class="form-control" type="text" placeholder="Last Name" disabled value="<%= parent.name.last %>">
                                </div>
                                <div class="form-group col-md-5 col-9">
                                    <input class="form-control" type="email" placeholder="Email" disabled value="<%= parent.email %>">
                                </div>
                                <div class="form-group col-md-1 col-3">
                                    <button type="button" class="remove-parent form-control btn btn-danger" parentId="<%= parent._id %>" parentName="<%=`${parent.name.first} ${parent.name.last}` %>" data-toggle="modal" data-target="#removeParentConfirm" style="height: 2.3rem"><i class="bi bi-trash"></i> </button>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="modal fade" id="removeParentConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm Removing Parent</h5>
                                </div>
                                <div class="modal-body" id="removeParentConfirmText">
                                Are you sure you want to remove ${name} as a parent?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="removeParent" type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <form id="addParent" class="card-body row mb-0">
                            <h6 class="mb-1">Add Parent</h6>
                            <div class="row gx-1 px-3">
                                <div class="form-group col-md-11 col-9">
                                    <input id="parentEmail" name="email" class="form-control" type="email" placeholder="Email">
                                    <div id="parentEmailHelp" class="form-text">Adding parents with an account will allow them to view your session summaries.</div>
                                </div>
                                <div class="form-group col-md-1 col-3">
                                    <input id="addParentBtn" type="button" class="form-control btn btn-primary mx-0" value="Add">
                                </div>
                            </div>
                        </form>
                        <% } %>
                        
                        <% if (profile.roles.includes("parent")) { %> <!-- PARENT ONLY STUFF -->
                            <div id="deleteParent" class="card-body row mb-0">
                                <h6 class="mb-1">Children</h6>
                                <% for (let child of children) { %>
                                <div class="row gx-1 px-3">
                                    <div class="form-group col-md-3 col-6">
                                        <input class="form-control" type="text" placeholder="First Name" disabled value="<%= child.name.first %>">
                                    </div>
                                    <div class="form-group col-md-3 col-6">
                                        <input class="form-control" type="text" placeholder="Last Name" disabled value="<%= child.name.last %>">
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        <input class="form-control" type="email" placeholder="Email" disabled value="<%= child.email %>">
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        <%- include("footer.ejs") %>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/js/profile.js"></script>
    </body>
</html>