<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <h1>Merry Tutor Session Summary</h1>
        <form method="POST">
            <label class="form-label" for="session-date">Session Date:</label>
            <% console.log(typeof formData != 'undefined' ? formData : "no data") %>
            <input type="date" name="session-date" id="session-date" value="<%= typeof formData != 'undefined' ? formData['session-date'] : '2021-01-01' %>"><br>
            <label class="form-label" for="tutor-name">Tutor Name: (Last, First)</label>
            <input type="text" id ="tutor-name" name="tutor-name" value="<%= typeof formData != 'undefined' ? formData['tutor-name'] : '' %>"><br>
            <label class="form-label" for="tutee-name">Tutee Name: (Last, First)</label>
            <input type="text" id ="tutee-name" name="tutee-name" value="<%= typeof formData != 'undefined' ? formData['tutee-name'] : '' %>"><br>
            <label class="form-label" for="shadow-name">Shadowing Tutor: (Last, First)</label>
            <input type="text" id="shadow-name" name="shadow-name" value="<%= typeof formData != 'undefined' ? formData['shadow-name'] : '' %>"><br>
            <label class="form-label" for="tutee-grade">Tutee Grade</label>
            <select id="tutee-grade" name="tutee-grade">
                <option selected>No grade selected</option>
                <option value="K">K</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select><br>
            <% if (typeof formData != 'undefined') {%>
                <script>
                    document.querySelector("#tutee-grade").value = <%= formData['tutee-grade'] %> || document.querySelector("#tutee-grade").value
                </script>
            <% } %>
            <!--change to radio if want to include other option-->
            <!--
            <radio id="subject" value="math">Math</radio>
            <radio id="subject" value="science">Science</radio>
            <radio id="subject" value="social-studies">Social Studies</radio>
            <radio id="subject" value="english">English</radio>
            <radio id="subject" value="other">Other</radio> <-- make text input with variable value input
            -->
            <label class="form-label" for="subject">Subject Tutored</label> 
            <select name="subject" id="subject">
                <option selected>No subject selected</option>
                <option value="math">Math</option>
                <option value="science">Science</option>
                <option value="social-studies">Social Studies</option>   
                <option value="english">English</option>
            </select><br>
            <% if (typeof formData != 'undefined') {%>
                <script>
                    document.querySelector("#subject").value = <%= formData['subject'] %> || document.querySelector("#subject").value
                </script>
            <% } %>
            <label class="form-label" for="what-they-learned" value="<%= typeof formData != 'undefined' ? formData['what-they-learned'] : '' %>">What did the tutee learn during the session?</label><br>
            <input class="form-control" type="text" name="what-they-learned" id="what-they-learned" value="<%= typeof formData != 'undefined' ? formData['what-they-learned'] : '' %>"><br>
            <label class="form-label" for="at-home-suggestion">What should the tutee work on before the next session as homework</label><br>
            <input class="form-control" type="text" name="at-home-suggestion" id="at-home-suggestion" value="<%= typeof formData != 'undefined' ? formData['at-home-suggestion'] : '' %>"><br>
            <label class="form-label" for="next-session-suggestion">What should the tutee work on during the next session?</label><br>
            <input class="form-control" type="text" name="next-session-suggestion" id="next-session-suggestion" value="<%= typeof formData != 'undefined' ? formData['next-session-suggestion'] : '' %>" rows="3"><br>
            <input type="submit" value="Submit">
        </form>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </body>
</html>