<div id="sessionSummaryCards" class="col-md-10">
    <% for (let summary of summaries) { %>
        <div class="card mb-2" subjects=<%=summary.subject%> tutee="<%=`${summary.tutee.name.first} ${summary.tutee.name.last}`%>" tutor="<%=`${summary.tutor.name.first} ${summary.tutor.name.last}`%>" >
            <h5 class="card-header" style="text-transform: capitalize"><%=`Session Summary For ${summary.tutee.name.first} ${summary.tutee.name.last} By ${summary.tutor.name.first} ${summary.tutor.name.last}`%></h5>
            <div class="card-body">
                <h5 class="card-title">Session Date:</h5>
                <p class="card-text"><%= (new Date(summary.date)).toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})%></p>
                <h5 class="card-title">Subject(s):</h5>
                <p class="card-text"><%=Array(summary.subject).flat().map(x=> x[0].toUpperCase() + x.slice(1)).join(", ")%></p>
                <h5 class="card-title">What They Learned:</h5>
                <p class="card-text"><%=summary.fields.what_they_learned%></p>
                <h5 class="card-title">What They Should Work On At Home:</h5>
                <p class="card-text"><%=summary.fields.homework%></p>
                <h5 class="card-title">What They Should Work On During the Next Session:</h5>
                <p class="card-text"><%=summary.fields.next_time%></p>
            </div>
        </div>
    <% } %>
</div>