<html>
    <head>
        <%- include("head.ejs") %>
    </head>
    <body>
        <div id="sessionSummaryContainer" class="row mx-auto w-80 justify-content-center">
            <h1 class="text-center">Session Summaries for Tutee <%=`${tutee.name.first} ${tutee.name.last} (${tutee.email})`%></h1>
            <div id="sessionSummaryCards" class="col-10">
                <% for (let summary of summaries) { %>
                    <div class="card mb-2">
                        <h5 class="card-header"><%=`Session Summary For ${tutee.name.first} ${tutee.name.last} On ${new Date(summary.date).toLocaleDateString()}`%></h5>
                        <div class="card-body">
                            <h5 class="card-title">What They Learned:</h5>
                            <p class="card-text"><%=summary.fields.what_they_learned%></p>
                            <h5 class="card-title">What They Should Work On At Home:</h5>
                            <p class="card-text"><%=summary.fields.homework%></p>
                            <h5 class="card-title">What They Should Work On During the Next Session:</h5>
                            <p class="card-text"><%=summary.fields.next_time%></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
